<a href="https://colab.research.google.com/github/KDS-Creator/PHY3638_Machine_Learning/blob/main/Intro_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Introduction

In [1]:
# Here's a simple "Hello World" program Python
print('Hello World')

x = 9
y = x - 2

print(f'gia tri cua y la: {y}')

Hello World
gia tri cua y la: 7

# Variables and data types

## Integers

In [2]:
a = 5
b = 10

print(a, '\t', type(a))
print('{0} {1} {2}'.format(b, '\t', type(b)))

5 	 <class 'int'>
10 	 <class 'int'>

## Floats

In [3]:
c = 2.12345
d = 9.653
e = 3.34367463754

print(c, '\t', type(c))
print('%f %s %s' % (d, '\t', type(d)))
print('%.2f %s %s' % (e, '\t\t', type(e)))

2.12345 	 <class 'float'>
9.653000 	 <class 'float'>
3.34 		 <class 'float'>

## Strings

In [4]:
str1 = 'Hom nay'
str2 = 'Khong mua'

print(str1)
print(str2)
print(str1 + ' ' + str2)
print(str1, type(str1), sep='\t\t')

Hom nay
Khong mua
Hom nay Khong mua
Hom nay		<class 'str'>

In [5]:
str3 = str1 + ' ' + str2

print(str3)
print(str3[-1])
print(str3[8:13])

Hom nay Khong mua
a
Khong

## Boolean

In [6]:
t = True
f = False

print(type(t))
print(t and f)  # Logical AND
print(t or f)   # Logical OR
print(not f)    # Logical NOT
print(t != f)   # Logical XOR

<class 'bool'>
False
True
True
True